<nav class="navbar navbar-transperant px-5" (scroll)="onWindowScroll();">
  <a class="navbar-brand" href="#">
    <img class="logo" src="/assets/images/logo.png" height="100" width="100" alt="logo">
  </a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Solutions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Pricing</a>
    </li>
    <li class="nav-item pr">
        <button type="button" class=" nav-link btn-login">Login</button>
    </li>
    <li class="nav-item">
        <button type="button" class="nav-link btn-getStarted">Get Started</button>
    </li>
  </ul>
</nav>